# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
run_test.py
2025-pwc-network-sustainability-report.pdf

# Environment Variables
.env

# Database / Data
chroma_db/
data/
*.pdf
test.pdf

# IDE
.idea/

# macOS
.DS_Store
.claude/